/* Estilo da ClassificacaoGrupos */
.classificacao-grupos {
  width: 100%;
  min-height: 100vh; /* Para ocupar a altura total da tela */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 4px solid #007bff; /* Adiciona a borda externa */
  padding: 20px; /* Adiciona um espaçamento interno */
}

.grupo {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 15px; /* aumentei o padding para deixar os elementos mais espaçados */
  text-align: left;
  font-size: 18px; /* aumentei o tamanho da fonte */
}

th {
  background-color: #007bff;
  color: #fff;
  font-size: 20px; /* aumentei o tamanho da fonte */
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

h3 {
  font-size: 28px; /* aumentei o tamanho da fonte */
  margin-bottom: 20px; /* aumentei o espaçamento inferior */
}

h2 {
  font-size: 42px; /* aumentei o tamanho da fonte */
  margin-bottom: 40px; /* aumentei o espaçamento inferior */
}

h4 {
  font-size: 24px; /* aumentei o tamanho da fonte */
  margin-top: 30px; /* aumentei o espaçamento superior */
}
